@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: gray;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

main {
  background-image: url("../images/bg-mobile.svg");
  background-size: cover;
  background-position: left;
  height: 100%;
  background-color: #674baf;
  width: 800px;
  max-width: 100%;
  margin: 100px auto 100px;
}

.container {
  width: 590px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  padding-top: 6em;
  padding-bottom: 16em;
}

header > img {
  width: 200px;
}

.content {
  color: #fff;
  text-align: center;
}

.content h1 {
  font-size: 2.3rem;
  padding-top: 2em;
  padding-bottom: 1em;
}

.content p {
  font-size: 1.6rem;
  line-height: 1.7;
}

.content .mockup {
  width: 100%;
}

.content .btn {
  background-color: #fff;
  font-size: 1.7rem;
  padding: .7em 2em;
  width: 60%;
  border-radius: 40px;
  color: #674baf;
  font-weight: 400;
  margin-top: 1.2em;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 6px 5px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 5px 9px rgba(0, 0, 0, 0.3);
}

.content .btn:hover {
  background-color: #e882e8;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.social__icons {
  text-align: center;
  padding: 8em 0 6em 0;
}

.social__icons .fab {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.social__icons .fab:hover {
  color: #e882e8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.social__icons > * {
  padding: 0px .25em;
}

@media (min-width: 820px) {
  main {
    background-image: url("../images/bg-desktop.svg");
    width: 1440px;
    max-width: 100%;
  }
  .container {
    width: 1440px;
    padding: 5em;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .content h1 {
    width: 19ch;
    padding-top: 1.2em;
    font-size: 2.5rem;
    padding-bottom: .5em;
  }
  .content p {
    font-size: 1.2rem;
  }
  .content .mockup {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 6em;
  }
  .content .content__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .content .btn {
    width: 240px;
  }
  .social__icons {
    text-align: right;
  }
}
